
name: Build and publish lvm operator

on:
  workflow_dispatch:
env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}
  QUAY_REGISTRY: quay.io/dsedg/lvms_dev
jobs:
  build:
    name: build containers
    runs-on: ubuntu-24.04
    steps:   
      - name: Set up Podman, OpenShift CLI, and Skopeo yq
        run: |
          echo "Installing"
          sudo apt-get update
          sudo apt-get install -y podman buildah skopeo

      - name: Remove unwanted stuff to free up disk image
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          sudo docker image prune --all --force

          sudo swapoff -a
          sudo rm -f /mnt/swapfile

      - name: Check out repository
        uses: actions/checkout@v5
        with:
          ref: release-4.20

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log into registry ${{ env.QUAY_REGISTRY }}
        uses: docker/login-action@v3
        with:
            registry: ${{ env.QUAY_REGISTRY }}
            username: ${{ secrets.QUAY_USER }}
            password: ${{ secrets.QUAY_TOKEN }}
      - name: run build-image script
        env:
          IMAGE_REGISTRY:  ghcr.io
          REGISTRY_NAMESPACE: ${{ github.repository_owner }}/lvms_dev
          IMAGE_TAG: '4.20'
        run: |
          export IMAGE_REPO=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-operator
          export IMG=$IMAGE_REPO:$IMAGE_TAG
          MUST_GATHER_IMG=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-must-gather:$IMAGE_TAG
          make build docker-build docker-push rename-csv bundle-base
          IMG=$IMAGE_REPO:$IMAGE_TAG MUST_GATHER_IMG=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-must-gather:$IMAGE_TAG yq -i '
          .spec.relatedImages[0].image = strenv(IMG) |
          .spec.relatedImages[0].name = "lvms-operator" |
          .spec.relatedImages[1].image = strenv(LVM_MUST_GATHER) |
          .spec.relatedImages[1].name = "lvms-must-gather" |
          .metadata.annotations.containerImage = strenv(IMG) |
          .metadata.annotations.repository = "https://github.com/dsedg/lvm-operator" |
          .spec.links[0].url = "https://github.com/dsedg/lvm-operator" |
          .spec.maintainers[0].name = "dsedg" |
          .spec.maintainers[0].email = "dsedg@users.noreply.github.com" |
          .spec.provider.name = "dsedg"
          ' bundle/manifests/lvms-operator.clusterserviceversion.yaml   
          make bundle-build bundle-push catalog catalog-build catalog-push
      - name: run build-image script
        env:
          IMAGE_REGISTRY: quay.io
          REGISTRY_NAMESPACE: 'dsedg/lvms_dev' 
          IMAGE_TAG: '4.20'
        run: |
          IMAGE_REPO=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-operator
          IMG=$IMAGE_REPO:$IMAGE_TAG
          MUST_GATHER_IMG=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-must-gather:$IMAGE_TAG
          make build docker-build docker-push rename-csv bundle-base
          IMG=$IMAGE_REPO:$IMAGE_TAG MUST_GATHER_IMG=$IMAGE_REGISTRY/$REGISTRY_NAMESPACE/lvms-must-gather:$IMAGE_TAG yq -i '
          .spec.relatedImages[0].image = strenv(IMG) |
          .spec.relatedImages[0].name = "lvms-operator" |
          .spec.relatedImages[1].image = strenv(LVM_MUST_GATHER) |
          .spec.relatedImages[1].name = "lvms-must-gather" |
          .metadata.annotations.containerImage = strenv(IMG) |
          .metadata.annotations.repository = "https://github.com/dsedg/lvm-operator" |
          .spec.links[0].url = "https://github.com/dsedg/lvm-operator" |
          .spec.maintainers[0].name = "dsedg" |
          .spec.maintainers[0].email = "dsedg@users.noreply.github.com" |
          .spec.provider.name = "dsedg"
          ' bundle/manifests/lvms-operator.clusterserviceversion.yaml           
          make bundle-build bundle-push catalog catalog-build catalog-push
